.content .contact
{
	width:98%;
	float:left;
	margin:0 0 70px 1%;
}
.content .contact .map
{
	width:28%;
	height:auto;
	margin:0 0 0 2%;
	float:left;
	position:relative;
}
.content .contact .map .album-name
{
	display: block;
	padding: 60px 0px 12px 0px;
	font: bold 18px/16px "Arial";
	color: #000;
	font-family: 'Open Sans', sans-serif;
	font-weight: normal;
	text-transform: uppercase;
}
.content .contact .map img
{
	margin:1% 0 0 0;
	width:99%;
	border:solid 1px #999;
	height:200px;
}
.content .contact .map .address p
{
	font-size: 0.8125em;
	color: #989898;
	line-height: 1.6em;
	font-family: verdana, arial, helvetica, helve, sans-serif;
}
.content .contact .map .address p span
{
	color:#F00;
	text-decoration:underline;
}
.content .contact .form
{
	width:66%;
	height:auto;
	float:right;
	position:relative;
	overflow:hidden;
}
.content .contact .form .album-name
{
	display: block;
	padding: 60px 0px 12px 0px;
	font: bold 18px/16px "Arial";
	color: #000;
	font-family: 'Open Sans', sans-serif;
	font-weight: normal;
	text-transform: uppercase;
}
.content .contact .form div
{
	padding: 5px 0;
}
.content .contact .form span
{
	display: block;
	font-size: 0.8125em;
	color: #333;
	padding-bottom: 5px;
	font-family: verdana, arial, helvetica, helve, sans-serif;
}
.content .contact .form input[type="text"], input[type="email"], textarea
{
	padding: 8px;
	display: block;
	width: 95%;
	background: #fcfcfc;
	border: none;
	outline: none;
	color: #555;
	font-size: 0.9em;
	font-family: Arial, Helvetica, sans-serif;
	-webkit-box-shadow: inset 0px 0px 3px #999;
	-webkit-appearance: none;
}
.content .contact .form textarea
{
	resize: none;
	height: 120px;
}
.content .contact .form input[type="submit"] 
{
	padding: 10px 20px;
	display: block;
	background:url(images/head1.jpg)repeat-x;
	border: none;
	font: bold 12px "Arial"!important;
	color: #fff;
	text-align: center;
	cursor: pointer;
	-webkit-transition: background 0.5s ease;
	margin-bottom: 1em;
	margin-right: 3px;
	border-radius: 3em;
	cursor: pointer;
	border: none;
}
.content .contact .form input[type="submit"]:hover
{
	background: url(images/head1h.png)repeat-x;
	text-decoration: none !important;
	-webkit-transition: background 0.5s ease;
}


















